/* Dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown menu hidden by default */
.dropdown-menu {
  display: none;
  position: absolute;
  right: 0;
  /* margin-top: 0.5rem; */
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  padding: 0.5rem;
  z-index: 10;
  min-width: 8rem;
}

/* Show menu on hover */
.dropdown:hover .dropdown-menu {
  display: block;
}
